Config { font = "xft:Ubuntu Mono:pixelsize=18:antialias=true:hinting=true"
       , additionalFonts = [
		  "xft:Font Awesome 5 Brands-Regular-400:pixelsize=13"
		, "xft:Font Awesome 5 Free-Regular-400:pixelsize=13"
		, "xft:Font Awesome 5 Free-Solid-900:pixelsize=13"
	]
       , borderColor = "black"
       , border = TopB
       , bgColor = "black"
       , fgColor = "grey"
       , alpha = 175
       , position = Bottom
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ Run Weather "KSAN" ["-t","San Diego: <tempF>F",
                                          "-L","60","-H","80",
                                          "--normal","orange",
                                          "--high","red",
                                          "--low","lightblue"] 36000
                    , Run Cpu ["-t","CPU: <total>%", "-L","3","-H","50",
                               "--normal","green","--high","red"] 10
                    , Run MultiCpu ["-t","CPU: <autototal>", "-L","3","-H","50",
                               "--normal","green","--high","red", "-p", "3", "-S", "On"] 10
                    , Run Memory ["-t","Mem: <usedbar>|", "-f", "█", "-b", "░"] 10
                    , Run Battery ["-t", "Battery: <acstatus> <leftbar>|", "-f", "█", "-b", "░", "-L", "20", "-H", "80", "--low", "red", "--high", "green", "--", "-O", "AC", "-o", "BT"] 10
                    , Run Date "%Y-%m-%d %H:%M:%S" "date" 10
                    , Run UnsafeStdinReader
                    , Run DiskU [("/", "Disk: <used>/<size>"), ("sdb1", "<usedbar>")]
         ["-L", "20", "-H", "50", "-m", "1", "-p", "3"]
         20
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = " %UnsafeStdinReader% >> %multicpu% >> %memory% >> %battery% >> %disku%}\
                    \{ <fc=#ee9a00>%date%</fc> >> %KSAN% "
       }
